{% load static %}
<!DOCTYPE html>
<html lang="en">
<!-- To declare your language - read more here: https://www.w3.org/International/questions/qa-html-language-declarations -->
<head>
<title>C-cart Shopping</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <!-- ################################################################################################ -->
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,600,700' rel='stylesheet' type='text/css'>
  <link href="{% static 'reg/css/font-awesome.min.css' %}" rel="stylesheet">
  <link href="{% static 'reg/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'reg/css/bootstrap-datetimepicker.min.css' %}" rel="stylesheet">
  <link href="{% static 'reg/css/flexslider.css' %}" rel="stylesheet">
  <link href="{% static 'reg/css/templatemo-style.css' %}" rel="stylesheet">


  <!-- ################################################################################################ -->

<link href="{% static 'hm/layout/styles/layout.css'%}" rel="stylesheet" type="text/css" media="all">

      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>

</head>
<body id="top">
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row1">
  <header id="header" class="hoc clear">
    <div id="logo" class="fl_left">
      <!-- ################################################################################################ -->
      <h1 class="logoname"><a href="/">C<span>-</span>Cart  Shopping</a></h1>
      <!-- ################################################################################################ -->
    </div>
    <nav id="mainav" class="fl_right">
      <!-- ################################################################################################ -->
      <ul class="clear">
        <li class="active"><a href="/">Home</a></li>

        <li><a class="drop">Category</a>

          <ul>
            <li><a href="/">All</a></li>
                                  {% for cc in catg %}

            <li><a href="{{cc.get_url}}">{{cc.name}}</a></li>
              {% endfor %}
<!--            <li><a class="drop" href="#">Level 2 + Drop</a>-->
<!--              <ul>-->
<!--                <li><a href="#">Level 3</a></li>-->
<!--                <li><a href="#">Level 3</a></li>-->
<!--                <li><a href="#">Level 3</a></li>-->
<!--              </ul>-->


<!--            </li>-->
<!--            <li><a href="#">Level 2</a></li>-->
          </ul>
        </li>

        {% if user.is_authenticated %}
        <li><a href="accounts/logout">logout</a></li>
        <li>hello '{{user.first_name}}' </li>
        {% else %}
                  <li><a href="accounts/register">Register</a></li>

        <li><a href="accounts/login">login</a></li>

           {% endif %}
                  <li><a href="cart/cartDetails"><i class="fa fa-shopping-cart" style="font-size:14px; clor:white;">{{itc}}</i></a></li>

      </ul>
      <!-- ################################################################################################ -->
    </nav>
  </header>
</div>

{% block content %}
{% endblock %}
</body>
</html>